@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply m-0 min-h-screen overflow-hidden bg-slate-950 text-slate-200 antialiased font-sans;
  }

  h1,
  h2,
  h3 {
    @apply text-slate-900 font-semibold tracking-tight;
  }
}
